<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sim.bus">

    <application>
        <activity android:name=".ui.activity.BusRealTimeActivity" />
        <activity android:name=".ui.activity.BusRouteActivity" />
        <activity android:name=".ui.activity.BusRouteDetailActivity" />
        <activity android:name=".ui.activity.BusSearchActivity" />
    </application>

</manifest>